---
layout: default
title: Terms
---

<div class="wrapper">
  <div class="container">
    <div id="subscription">
      <h2 class="terms">GitLab Subscription Terms</h2>
      <p><a href="print/gitlab_subscription_terms_sig.pdf">PDF Preview</a></p>
      <br><br>
      <br><br>
      {% include subscription_terms.html %}
      {% include signature_block.html %}
    </div>
  </div>
</div>
