---
layout: default
title: Training
suppress_header: true
extra_css:
  - training.css
---
<div class="wrapper">
  <div class="training-picture-container">
    <div class="training-overlay">
      <div class="training-content">
        <h1 class="center">Training</h1>

        We organize training workshops to help your organization implement Git and GitLab quickly.

        <h3>End user training</h3>
        <p>End user training workshops focus on Git concepts and the GitLab workflow.</p>

        <h3>Git workshop</h3>
        <p>A Git workshop covers Git concepts such as committing, branches, merge requests, merge conflicts, tags, cherry-picking, bisecting and rebasing.</p>

        <h3>GitLab flow workshop</h3>
        <p>A GitLab flow workshop help your organization develop a good Git workflow</p>

        <h3>GitLab administrator workshop</h3>
        <p>A GitLab administrator workshop covers:
          <ul>
            <li>GitLab architecture overview</li>
            <li>GitLab fundamentals</li>
            <li>UI walkthrough</li>
            <li>Admin panel</li>
            <li>Admin tasks</li>
            <li>Backups, troubleshooting</li>
          </ul>
        </p>

        <p>
          <h3>Cost for each workshop is $2,500</h3>
          </p>
        <p>
          Workshops are delivered via web-conferencing and are recorded for up to 20 people.
          Each workshop takes approximately 4 hours.
        </p>
        
        <p>
          And we're open to discussing other materials to cover and other durations.
          Please fill out the form below if you are interested.
        </p>

        <br>
      </div>
    </div>
  </div>

  <div class="centered-form training-form">
    <script src="//app-ab13.marketo.com/js/forms2/js/forms2.min.js"></script>
    <form id="mktoForm_1068"></form>
    <script>


      MktoForms2.loadForm("//app-ab13.marketo.com", "194-VVC-221", 1068, function(form) {
          form.onSuccess(function(values, followUpUrl) {

            form.getFormElem().hide();
            document.getElementById('confirmform').style.visibility = 'visible';

            ga('send', 'pageview');
            ga('send', 'event', 'form', 'submit', 'ee free trial');
            return false;
          });
      });
    </script>

    <div id="confirmform" style="visibility:hidden;"><p>Submission received! We'll be in touch shortly.</p></div>
  </div>
</div>