---
layout: default
title: Team
suppress_header: true
extra_css:
  - team.css
extra_js:
  - team.js
image_title: /images/team/team.jpg
---

<!-- THE MEMBER CONTENT FOR THIS PAGE IS IN THE team.yml FILE -->

<div class="hidden-xs">
  <iframe width="100%" height="500" scrolling="no" src="https://sundial.teleport.org/public/map/Y3IahPR5vYjBpMyU2kZj?mousescroll=false" frameborder="0"></iframe>
</div>
<div class="wrapper">
  <div class="team-container">

    <div class="team-head">
      <h1>MEET OUR <b>TEAM</b></h1>
      <p>
        The GitLab Inc. team consists of <a href="/team-pets/">pets</a> and the following individuals.
        You can get a sense of the team culture by visiting our <a href="https://about.gitlab.com/culture/">culture page</a>.
      </p>
    </div>

    <br>
    <br>
    <div class="row">
      {% for member in site.data.team %}
        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="member">
            <!-- THE MEMBER CONTENT FOR THIS PAGE IS IN THE team.yml FILE -->
            <div class="card" id={{member.twitter}}>
              <div class="front">
                <img src="../images/team/{{member.picture}}" alt="gitlab.com" width="200" height="200">
                <h3>{{member.name}}</h3>
                <h4>{{member.role}}</h4>
                {% if member.reports_to %}
                  <h5>Reports to: {{member.reports_to}}</h5>
                {% endif %}
                <ul>
                  {{member.maintains}}
                </ul>
                <div class="social">
                  {% if member.twitter %}
                    <a href="https://twitter.com/{{member.twitter}}"><i class="fa fa-twitter"></i></a>
                  {% endif %}
                  {% if member.gitlab %}
                    <a href="https://gitlab.com/u/{{member.gitlab}}">{% include logo_sq.svg %}</a>
                  {% endif %}
                </div>

                <div class="bio">
                  <p>{{member.story}}</p>
                </div>
              </div>
            </div>

          </div>
        </div>
        {% endfor %}

        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="member">

            <div class="card">
              <div class="front">
                <img src="../images/team/logo-extra-whitespace.png" alt="gitlab.com" width="200" height="200">
                <h3>You?</h3>
                <br>
                <p style="text-align: center; padding: 0 25px;">
                  Want to see your name and picture here? Check out our latest <a href="http://about.gitlab.com/jobs/">job openings!</a>
                </p>
                <div class="social">
                  <a href="https://twitter.com/gitlab"><i class="fa fa-twitter"></i></a>
                  <a href="https://gitlab.com">{% include logo_sq.svg %}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
