{% capture category %}{{ post.categories | size }}{% endcapture %}
<h2>
  <a href="{{ root_url }}{{ post.url }}">
    {% if site.titlecase %}
      {{ post.title | titlecase }}
    {% else %}
      {{ post.title }}
    {% endif %}
  </a>

  <time datetime="{{ post.date | datetime | date_to_xmlschema }}" pubdate>
    {{ post.date | date: "<span class='month'>%b</span> <span class='day'>%d</span>"}}
  </time>
</h2>
<!-- {% if category != '0' %} -->
<!-- <footer> -->
<!--   <span class="categories">posted in {{ post.categories | category_links }}</span> -->
<!-- </footer> -->
{% endif %}
