---
layout: default
title: Pricing
suppress_header: true
extra_css:
  - subscription.css
extra_js:
  - subscription.js
---

<div class="wrapper">
  <div class="pricing-container">
    <div class="pricing-overlay">
      <div class="pricing-content">
        <h1>GitLab Enterprise Edition on your Server</h1>
      </div>
      <div class="header-btn">
        <a class="free-trial" href="/free-trial">Free trial</a>
        <a class="contact-us" href="https://about.gitlab.com/sales/">Contact us</a>
      </div>
    </div>
  </div>

  <div class="subscriptions" id="subs">
    <div class="row" data-equal=".pricing-box">
      <div class="pricing-box col-sm-4">
        <div class="basic subscription main-subscription main-subscription-extra">
          <div class="header">
            GitLab.com
          </div>
          <div class="price">
            Free
            <div class="subprice">
              unlimited repositories<br/>
            </div>
            <div class="details">
              <div class="detail">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <div class="body">
                 Hosted on GitLab's servers
                </div>
              </div>
              <div class="detail">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <div class="body">
                 Multi-tenant
                </div>
              </div>
              <div class="detail">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <div class="body">
                  <a href="/gitlab-com">
                    Learn more about GitLab.com
                  </a>
                </div>
              </div>
            </div>
          </div>
          <a href="https://gitlab.com/users/sign_in" class="basic button empty-content-btn">
            Signup
          </a>
        </div>
      </div>
      <div class="pricing-box col-sm-4">
        <div class="basic subscription main-subscription main-subscription-extra">
          <div class="header">
            Community Edition
          </div>
          <div class="price">
            Free
            <div class="subprice">
              unlimited users<br/>
            </div>
            <div class="details">
              <div class="detail">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <div class="body">
                On-premises on your server
                </div>
              </div>
              <div class="detail">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <div class="body">
                Open source
                </div>
              </div>
              <div class="detail">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <div class="body">
                  <a href="/features/#community">GitLab Community Edition</a>
                </div>
              </div>
            </div>
          </div>
          <a href="/downloads/" class="basic button empty-content-btn">
            Download Now
          </a>
        </div>
      </div>
      <div class="pricing-box col-sm-4">
        <div class="standard subscription main-subscription">
          <div class="header">
            Enterprise Edition
          </div>
          <div class="price">
            <div class="money">$</div>39
            <div class="subprice">
              yearly per user<br/>
              no minimum users
            </div>
          </div>
          <div class="details">
            <div class="detail">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <div class="body">
                On-premises on your server
              </div>
            </div>
            <div class="detail">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <div class="body">
                Next business day support
              </div>
            </div>
            <div class="detail">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <div class="body">
                <a href="/features/#enterprise">GitLab Enterprise Edition</a>
              </div>
            </div>
          </div>
          <a href="https://gitlab.recurly.com/subscribe/gitlab_ee_annual_fee_per_user" class="basic button subscription-btn" onclick="ga('send', 'event', 'link', 'click', 'basic subscription');">
            Buy now
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="subscriptions">
    <div class="row">
      <div class="col-sm-12">
        <h2>
          Add-ons to the Enterprise Edition
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="plus subscription">
          <div class="header">
            GitLab Geo
          </div>
          <div class="price">
            <div class="money">$</div>99
            <div class="subprice">
              yearly per user<br/>
              no minimum users
            </div>
          </div>
          <div class="details">
            <div class="detail">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <div class="body">
                Learn more about <a href="http://doc.gitlab.com/ee/gitlab-geo/README.html">GitLab Geo</a>
              </div>
            </div>
          </div>
          <a href="https://gitlab.recurly.com/subscribe/gitlab_ee_annual_fee_per_user" class="basic button subscription-btn" onclick="ga('send', 'event', 'link', 'click', 'basic subscription');">
            Buy now
          </a>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="plus subscription">
          <div class="header">
            Premium Support
          </div>
          <div class="price">
            <div class="money">$</div>99
            <div class="subprice">
              yearly per user<br/>
              minimum of 100 users
            </div>
          </div>
          <div class="details">
            <div class="detail">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <div class="body">
                24x7 emergency support
              </div>
            </div>
            <div class="detail">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <div class="body">
                Two training workshops
              </div>
            </div>
            <div class="detail">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <div class="body">
                Dedicated service engineer
              </div>
            </div>
            <div class="detail">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <div class="body">
                Live upgrade assistance
              </div>
            </div>
            <div class="detail">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <div class="body">
                Support for <a href="/high-availability/">High Availability</a>
              </div>
            </div>
          </div>
          <a href="https://gitlab.recurly.com/subscribe/gitlab_ee_annual_fee_per_user" class="basic button subscription-btn" onclick="ga('send', 'event', 'link', 'click', 'basic subscription');">
            Buy now
          </a>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="plus subscription">
          <div class="header">
            Pivotal Tile
          </div>
          <div class="price">
            <div class="money">$</div>99
            <div class="subprice">
              yearly per user<br/>
              no minimum users
            </div>
          </div>
          <div class="details">
            <div class="detail">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <div class="body">
                Learn more about <a href="https://about.gitlab.com/2015/11/03/pivotal-cloud-foundry-tile-for-gitlab-ee/">Pivotal.</a>
              </div>
            </div>
          </div>
          <a href="https://gitlab.recurly.com/subscribe/gitlab_ee_annual_fee_per_user" class="basic button subscription-btn" onclick="ga('send', 'event', 'link', 'click', 'basic subscription');">
            Buy now
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="subs-header">
    <div class="title">Includes a 45 day money-back guarantee</div>
  </div>

  <div class="pricing-notes">
    <p>
      <a href="/features/#compare">Compare</a> the features of GitLab Community Edition and Enterprise Edition
    </p>

    <p>
      Compare GitLab to the <a href="/comparison">competition</a>
    </p>

    <p>
      <a href="https://about.gitlab.com/sales/" onclick="ga('send', 'event', 'link', 'click', 'contact sales');">Please contact us</a> if you have any questions.
    </p>

    <p>
      <a href="https://about.gitlab.com/high-availability/">Learn more</a> about high availability
    <p>
      <a href="/license-faq">Frequently asked questions</a> about subscriptions and licensing
    </p>

  </div>

  <hr class='divider'>

  <div class="container">
    <div class="row other-services" id="services">
      <div class="subs-header">
        <div class="title">
          Services
        </div>
        <div class="subtitle">
          Want us to help you with something else?
        </div>
      </div>
      <div class="col-sm-4">
        <div class="box">
          <a href="/consultancy">
            <img src="/images/icons/cons_icon.png" id="consultancy" class="gs">
            <h2>Consultancy</h2>
            <p>Upgrade or install GitLab.</p>
            <a href="/consultancy/" class="btn btn-md btn-default">Contact us</a>
          </a>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="box">
          <a href="/development">
            <img src="/images/icons/dev_icon.png" id="development" class="gs">
            <h2>Development</h2>
            <p>Add a new feature to GitLab.</p>
            <a href="/development/" class="btn btn-md btn-default">Contact us</a>
          </a>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="box">
          <a href="/training">
            <img src="/images/icons/tra_icon.png" id="training" class="gs">
            <h2>Training</h2>
            <p>Git training workshop.</p>
            <a href="/training/" class="btn btn-md btn-default">Contact us</a>
          </a>
        </div>
      </div>
    </div>
  </div>

  <hr class="divider">

  <div class="other-services">
  </div>


</div>
